* {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

.faq-banner{
  background-image: url('../img/faq-banner.svg');
  height: 400px;
  width: 100%;
}

.text-schneider-color {
  color: #3DCD58
}

.custom-accordion-container {
  width: 80%;
  margin: 0 auto;
}