/* Header */ 

#headerprofile{
  display: flex;
  justify-content: center;
}

#ulconfig{
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-decoration: none;
  list-style: none;
}

.li-text{
  font-family: 15;
  font-weight: 600;
  color: #8F8F8F;
}

/* Main */

.imgremove{
  display: block;
}

#imgmodifier{
  @media (max-width: 1000px) {
    width: 150px;
    height: 150px;
  }
}

#mainperfil{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#maincontainer {
  width: min(75vw, 60rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containercard {
  display: flex;
  flex-direction: row;
  height: auto; 
  max-height: 100%; 
  border: 1px solid #E0DFDC;
  border-radius: 8px;
}


#containerimgandfollowers{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sizeandflex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  margin-top: 15px;
}

#h1main{
  font-size: 35px;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
}

#organizeimg{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#pmain{
  font-size: 14px;
  font-weight: 350;
  color: rgba(0,0,0,0.60);
  width: 130px;
  margin-top: 15px;
}

#organizetexts{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#pmain2{
  font-size: 16px;
  font-weight: 350;
  color: rgba(0,0,0,0.90);
}

#pmain3{
  font-size: 14px;
  font-weight: 350;
  color: rgba(0,0,0,0.60);
}

#pmain4{
  font-size: 16px;
  font-weight: 400;
  color: #626469;
  width: 100%;
}

/* Card 2*/

#containercardtwo{
  height: 255px;
  border: 1px solid #E0DFDC;
  border-radius: 8px;

}

/* Achievements*/

.containerachievements{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.containeritem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.pachievements{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  width: 200px;
  color: #000;
}

/* Card Super*/

.containersuper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#containercardtwosuper{ 
  width: min(30vw, 50rem);
  border: 1px solid #E0DFDC;
  height: 568px;
  border-radius: 8px;
}

.pcardsuper{
  color: #3DCD58;
  font-size: 18px;
  font-weight: 600;
}