* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-items{ 
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.nav-bar-items li {
  list-style: none;
  padding: 1rem 0;
}

.nav-bar-items li a{
  padding: 1rem;
  text-decoration: none;
  color:#535353
}

.nav-bar-items li:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.active {
  background-color: #F1F1F1;
  border-bottom: 3px solid #3DCD58;
}